@import url("./form.css");
@import url("./navbar.css");
@import url("./boxes.css");
@import url("./footer.css");
@import url("./buttons.css");
@import url("./pacman_animation.css");
@import url("./responsive/iphone6-7-8.css");
@import url("./responsive/gs5.css");
@import url("./responsive/ipad.css");
@import url("./responsive/ipad-pro.css");
@import url("./responsive/pixel2.css");
@import url("./responsive/iphone5.css");
@import url("./responsive/iphone6-7-8plus.css");
@import url("./img-hover-overlay.css");
@import url("./popup_box.css");

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: #30382f;
}

span {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #32CD32;
}

a:hover {
  cursor: pointer;
}

img {
  display: block;
  width: 150px;
  height: 200px;
}

.psvita-img {
  width: 200px;
  height: 150px;
}

.nintendo-ds-category-img {
  width: 200px;
  height: 200px;
}

.nintendo-switch-img {
  width: 250px;
  height: 150px;
}

figure:hover .overlay-nintendo-ds,
figure:hover .overlay-nintendo-wii,
figure:hover .overlay-psvita,
figure:hover .overlay-ps3,
figure:hover .overlay-ps4 ,
figure:hover .overlay-xbox ,
figure:hover .overlay-pc {
  opacity: 1;
}
