#pop {
    width: 40%;
    height: 30%;
    bottom: 50%;
    right: 30%;
    border: 2px solid #32CD32;
    position: fixed;
    box-shadow: inset #32CD32;
    background-color: #121412;
    padding: 1%;
    animation: fadeIn 3s;
}

#close {
    right: 5;
    top: 5;
    float: right;
    border: 2px outset #32CD32;
}

#popup-text {
    font-size: 20px;
    color: aliceblue;
    margin-left: 10%;
    padding: 0%;
}

#popup-title {
    font-size: 30px;
    margin-top: 0px;
    color: #32CD32;
    margin-left: 40%;
}

#e-mail-popup {
    margin: 2% auto 0% auto;
}

#pop-up-buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3%;
    margin-left: 35%
}

#pop-up-buttons button {
    display: flex;
    margin-left: 2%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}