@media only screen and (width:1024px) and (height:1366px) {
    nav {
        height: 15vh;
        width: 101%;
    }
    section.shopping-cart {
        width: 70%;
        height: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #form1 {
        margin-top: 4%;
        flex-flow: column nowrap;
    }
    select#payment {
        height: 4vh;
    }
    div.new-shopping-cart.display {
        width: 50%;
        height: 4vh;
        margin: 0% auto 4% auto;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 25%;
        padding-top: 3%;
        padding-bottom: 0%;
        margin-left: 25%;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 35%;
    }
    form {
        width: 100%;
    }
    h1#popup-title {
        margin-left: 30%;
    }
    section#pop {
        width: 45%;
        height: 15%;
        left: 30%;
        top: 20%
    }
    div#pop-up-buttons {
        margin-top: 5%;
        margin-left: 26%;
    }
    #pop-up-buttons button {
        font-size: 12px;
    }
    label#popup-text {
        font-size: 14px;
        margin-left: 10%;
    }
    input#e-mail-popup {
        margin-left: 5%;
    }
    .shopping-cart {
        width: 20%;
        margin-left: 50%;
        margin-top: -4%;
    }
    button.random-button {
        width: 15%;
        padding-top: 0.5%;
    }
    button.next-button {
        width: 10%;
        padding-top: 0.5%;
        padding-left: 1.5%;
    }
    .ipad-style-nav-style {
        margin-left: auto;
        margin-right: auto;
    }
    form {
        margin-bottom: 15%;
    }
    .content {
        margin-bottom: 20%;
    }
    #logout-layout {
        width: 10vw;
        height: 2.5vh;
        padding-top: 8%;
        padding-left: 15%;
        margin-top: -10%;
        font-size: 12px;
    }
    #register-layout {
        width: 9vw;
        height: 2vh;
        margin: 70% 0% 0% 0% !important;
        padding-top: 5% !important;
        font-size: 14px;
        margin-top: 0%;
    }
    section#slogan-layout {
        margin-top: 2%;
        margin-bottom: 10%;
    }
    .login-button {
        width: 11vw;
        height: 3vh;
        margin-left: 40%;
        padding-left: 4%;
    }
    ul>li,
    ul.list-heading {
        margin-top: 7%;
        margin-bottom: 0;
    }
    nav h1 {
        margin-top: auto;
        margin-right: auto;
        margin-left: 40%;
        margin-bottom: auto;
    }
    #sitename {
        margin-left: 43%;
    }
    #slogan-layout {
        margin-top: 10%;
        margin-bottom: 15%;
    }
    form {
        width: 50%;
    }
    input {
        height: 3vh;
        width: 70%;
    }
    label {
        width: 100%;
        margin-left: -5%;
        font-size: 15px;
    }
    .list-heading {
        margin-left: 10%;
        margin-top: 5%;
    }
    .register-button {
        width: 12vw;
        height: 2vh;
    }
    footer {
        margin-bottom: 0;
        width: 101%;
    }
    a.menu-button {
        width: 50vw;
        height: 7vh;
        font-size: 35px;
        padding-left: 8%;
    }
    .list-of-buttons {
        margin: 20% auto 40% auto;
    }
    p#admin-choice-btn {
        width: 16.5vw !important;
        font-size: 15px;
        height: 2vh !important;
        padding: 0.2% 0% 0% 2%;
        margin: 8% 2% 0% 10%;
    }
    .admin-login {
        margin-top: 20%;
        margin-bottom: 44%
    }
    .center-logo {
        margin-left: 29%;
    }
    .main-category {
        margin-top: 5%;
        margin-bottom: 14%
    }
    section.layout-subcategories {
        width: 90%;
    }
    section.shopping-cart {
        width: 40% !important;
        margin-left: auto;
        padding-left: auto;
        margin-top: 10%;
    }
    button.next-form-button,
    button.previous-form-button {
        width: 17% !important;
        margin-left: 25%;
        font-size: 12px;
        padding-top: 0.2%;
        height: 1.5vh;
    }
    button.previous-form-button {
        padding-top: 0% !important;
        width: 27% !important;
    }
    button.confirm-form-button {
        padding-top: 0% !important;
        width: 23% !important;
        padding-left: 4%;
        font-size: 12px;
        height: 1.5vh;
    }
    div.new-shopping-cart.display {
        width: 50%;
        height: 15vh;
    }
    button.print-order-btn {
        width: 15%;
        padding-left: 3%;
        margin-left: 5%;
    }
    form.order-layout {
        width: 90%
    }
    button.delete-order-btn {
        margin-left: 80%;
        width: 17%;
        height: 2vh;
        padding-left: 3%;
    }
    button.foto-submission-btn {
        width: 23% !important;
        padding-left: 2.5%;
    }
    section.photo-collection-box {
        margin-top: 15%;
        margin-bottom: 42%;
    }
    section.admin-categories {
        width: 80%;
    }
    section.buttons-box {
        display: flex;
        flex-flow: column nowrap;
    }
    button.admin-ins-btn {
        width: 20% !important;
        padding-left: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    form#admin-ins-form-message,
    form#admin-ins-form-prod,
    form#admin-ins-form {
        width: 70%;
    }
    input.admin-category-input {
        width: 70%;
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-prod-form-title,
    form#admin-up-form1,
    form#admin-up-form {
        margin-top: 15%;
        width: 80%
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-form1 {
        margin-top: 0%;
    }
    div.notification-layout {
        width: 70%;
        font-size: 20px;
        padding-left: 3%;
        margin: 30% auto 44% auto;
    }
}