@media only screen and (width:768px) and (height:1024px) {
    nav {
        height: 20vh;
    }
    section.shopping-cart {
        width: 70%;
        height: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #form1 {
        margin-top: 4%;
        flex-flow: column nowrap;
    }
    div.new-shopping-cart.display {
        width: 100%;
        margin: 0% auto 4% auto;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 25%;
        padding-top: 3%;
        padding-bottom: 0%;
        margin-left: 25%;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 35%;
    }
    form {
        width: 100%;
    }
    h1#popup-title {
        margin-left: 30%;
    }
    section#pop {
        width: 50%;
        height: 20%;
        left: 30%;
    }
    div#pop-up-buttons {
        margin-top: 5%;
        margin-left: 26%;
    }
    #pop-up-buttons button {
        font-size: 12px;
    }
    label#popup-text {
        font-size: 14px;
        margin-left: 1%;
    }
    .shopping-cart {
        width: 20%;
        margin-left: 50%;
        margin-top: -4%;
    }
    button.random-button {
        width: 20%;
        padding-left: 2%;
    }
    button.next-button {
        width: 12%;
    }
    .ipad-style-nav-style {
        margin-left: auto;
        margin-right: auto;
    }
    ul>li,
    ul.list-heading {
        margin-top: 9%;
        margin-bottom: 0;
    }
    #logout-layout {
        width: 13vw;
        height: 3vh;
        padding-top: 7%;
        padding-left: 15%;
        margin-top: -10%;
        font-size: 12px;
    }
    #register-layout {
        width: 13vw;
        height: 3vh;
        padding-left: 15%;
        margin-left: 15%;
        font-size: 12px;
        margin-top: 0;
    }
    .login-button {
        width: 13vw;
        height: 3vh;
        margin-left: 40%;
        padding-left: 4%;
    }
    nav h1 {
        margin-top: auto;
        margin-right: auto;
        margin-left: 40%;
        margin-bottom: auto;
    }
    #sitename {
        margin-left: 40%;
    }
    .list-heading {
        margin-top: 7%;
        margin-left: 2%;
    }
    #slogan-layout {
        margin-bottom: 5%;
    }
    form {
        width: 60%;
        margin-bottom: 10%;
    }
    input {
        height: 4vh;
        width: 70%;
    }
    label {
        width: 100%;
        margin-left: -5%;
        font-size: 15px;
    }
    footer {
        margin-top: 19%;
    }
    #footer-copyright {
        font-size: 15px;
        margin-right: 10%;
        text-align: center;
    }
    #footer-contact-details {
        padding-right: 3%;
    }
    #slogan-layout {
        margin-bottom: 5%;
    }
    .register-button {
        width: 15vw;
        height: 4vh;
    }
    a.menu-button {
        width: 30vw;
        height: 5vh;
        font-size: 18px;
        padding-left: 4%;
    }
    .list-of-buttons {
        margin: 20% auto 16% auto;
    }
}