@media only screen and (width:768px) and (height:1024px) {
    nav {
        height: 20vh;
    }
    section.shopping-cart {
        width: 70%;
        height: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #form1 {
        margin-top: 4%;
        flex-flow: column nowrap;
    }
    div.new-shopping-cart.display {
        width: 100%;
        margin: 0% auto 4% auto;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 25%;
        padding-top: 3%;
        padding-bottom: 0%;
        margin-left: 25%;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 35%;
    }
    form {
        width: 100%;
    }
    h1#popup-title {
        margin-left: 30%;
    }
    section#pop {
        width: 50%;
        height: 20%;
        left: 30%;
    }
    div#pop-up-buttons {
        margin-top: 5%;
        margin-left: 26%;
    }
    #pop-up-buttons button {
        font-size: 12px;
    }
    label#popup-text {
        font-size: 14px;
        margin-left: 1%;
    }
    .shopping-cart {
        width: 20%;
        margin-left: 50%;
        margin-top: -4%;
    }
    button.random-button {
        width: 20%;
        padding-left: 2%;
    }
    button.next-button {
        width: 12%;
    }
    .ipad-style-nav-style {
        margin-left: auto;
        margin-right: auto;
    }
    ul>li,
    ul.list-heading-login {
        margin: 0%;
        padding: 0%;
    }
    #logout-layout {
        width: 13vw;
        height: 3vh;
        padding-top: 7%;
        padding-left: 15%;
        margin-top: -10%;
        font-size: 12px;
    }
    #register-layout {
        width: 9vw;
        height: 2vh;
        padding-left: 15%;
        margin: 109% 0% 0% 0% !important;
        font-size: 12px;
        margin-top: 0%;
    }
    button.login-button {
        width: 13vw;
        height: 3vh;
        margin-left: 40%;
        padding: 1% 0% 0% 3.5%;
    }
    nav h1 {
        margin-top: auto;
        margin-right: auto;
        margin-left: 40%;
        margin-bottom: auto;
    }
    #sitename {
        margin-left: 40%;
    }
    .list-heading {
        margin-top: 7%;
        margin-left: 2%;
    }
    #slogan-layout {
        margin-bottom: 5%;
    }
    form {
        width: 60%;
        margin-bottom: 10%;
    }
    input {
        height: 4vh;
        width: 70%;
    }
    label {
        width: 100%;
        margin-left: -5%;
        font-size: 15px;
    }
    footer {
        margin-top: 19%;
    }
    #footer-copyright {
        font-size: 15px;
        margin-right: 10%;
        text-align: center;
    }
    #footer-contact-details {
        padding-right: 3%;
    }
    #slogan-layout {
        margin-bottom: 5%;
    }
    .register-button {
        width: 15vw;
        height: 4vh;
    }
    a.menu-button {
        width: 30vw;
        height: 5vh;
        font-size: 18px;
        padding-left: 4%;
    }
    .list-of-buttons {
        margin: 20% auto 16% auto;
    }
    p#admin-choice-btn {
        width: 17vw !important;
        font-size: 12px;
        height: 2vh !important;
        padding: 0.1% 0% 0% 2%;
        margin: 10% 2% 0% 10%;
    }
    figure {
        margin-right: 0% !important;
    }
    form.admin-login {
        margin-top: 20%
    }
    .center-logo {
        margin-left: 23%;
    }
    section.layout-subcategories {
        width: 90%;
    }
    section.shopping-cart {
        width: 80% !important;
        margin-left: 2%;
        padding-left: 2%;
        margin-top: 10%;
    }
    button.next-form-button,
    button.previous-form-button {
        width: 20% !important;
        margin-left: 25%;
        font-size: 12px;
        padding-top: 0.2%;
        height: 2vh;
    }
    button.previous-form-button {
        padding-top: 0% !important;
        width: 27% !important;
    }
    button.confirm-form-button {
        padding-top: 0% !important;
        width: 25% !important;
        padding-left: 4%;
        font-size: 12px;
        height: 2vh;
    }
    h1.heading {
        width: 40%;
    }
    button.print-order-btn {
        width: 18%;
        padding-left: 3%;
        margin-left: 5%;
    }
    form.order-layout {
        width: 90%
    }
    button.delete-order-btn {
        margin-left: 80%;
        width: 20%;
        height: 3vh;
        padding-left: 3%;
    }
    button.foto-submission-btn {
        width: 29% !important;
        padding-left: 2.5%;
    }
    section.admin-categories {
        width: 80%;
    }
    section.buttons-box {
        display: flex;
        flex-flow: column nowrap;
    }
    button.admin-ins-btn {
        width: 26% !important;
        padding-left: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    form#admin-ins-form-message,
    form#admin-ins-form-prod,
    form#admin-ins-form {
        width: 70%;
    }
    input.admin-category-input {
        width: 70%;
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-prod-form-title,
    form#admin-up-form1,
    form#admin-up-form {
        margin-top: 15%;
        width: 80%
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-form1 {
        margin-top: 0%;
    }
    div.notification-layout {
        width: 70%;
        font-size: 12px;
        padding-left: 3%;
        margin: 20% auto 27% auto;
    }
}