@media only screen and (width:414px) and (height:736px) {
    nav {
        height: 38vh;
        width: 110%;
        margin-left: -5%;
        margin-top: -4%;
        margin-bottom: 5%;
    }
    section.shopping-cart {
        width: 70%;
        height: 100%;
    }
    #form1 {
        margin-top: 4%;
        flex-flow: column nowrap;
    }
    div.new-shopping-cart.display {
        width: 100%;
        margin: 0% auto 4% auto;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 35%;
        margin-left: 25%;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 48%;
    }
    form {
        width: 100%;
    }
    button#check-button.random-button {
        width: 38%;
        padding-left: 3%;
        padding-top: 2%;
    }
    button.next-button {
        width: 22% !important;
        height: 10%;
        padding: 2%;
    }
    h1#popup-title {
        margin-left: 30%;
    }
    section#pop {
        width: 90%;
        height: 25vh;
        left: 3%;
    }
    div#pop-up-buttons {
        margin-top: 5%;
        margin-left: 26%;
    }
    #pop-up-buttons button {
        font-size: 12px;
    }
    label#popup-text {
        font-size: 14px;
        margin-left: 1%;
    }
    .shopping-cart {
        width: 50%;
        margin-left: 20%;
        margin-top: 5%;
    }
    a#sitename {
        margin-left: 145px;
    }
    .content {
        margin-bottom: 15%;
    }
    #register-layout {
        margin-left: 30px;
        width: 17vw !important;
        padding-left: 11%;
        font-size: 12px;
    }
    nav figure {
        margin-left: auto;
        margin-right: auto;
    }
    h1#sitename {
        margin-left: 145px;
    }
    button.random-button {
        width: 34%;
    }
    button.next-button {
        width: 23%;
    }
    .next-button {
        width: 24%;
        padding-left: 2%;
        padding-right: 2%;
    }
    li {
        margin-bottom: 0;
    }
    ul>li,
    ul.list-heading {
        margin-top: 0;
        margin-bottom: 0;
    }
    form {
        margin-top: 15%;
        width: 70vw;
        margin-bottom: 15%;
    }
    input {
        height: 4vh;
        width: 90%;
    }
    label {
        padding-left: 10%;
    }
    li#logout-layout {
        width: 32vw;
        padding-top: 2%;
        padding-left: 8%;
        margin-top: -10%;
        font-size: 14px;
        margin-left: 23%;
    }
    .login-button {
        width: 17vw;
        margin-left: 32%;
        padding-left: 4%;
        font-size: 12px;
        padding-top: 1%;
    }
    #footer-contact-details {
        padding: 0px 0px 0px 10px;
    }
    footer {
        margin-top: 5%;
        margin-left: -3%;
        margin-bottom: -20px;
        width: 110%;
    }
    a.menu-button {
        width: 63vw;
        height: 5vh;
        font-size: 18px;
        padding-left: 10%;
    }
    p#admin-choice-btn {
        width: 30vw !important;
        font-size: 13px;
        padding-left: 1.5%;
    }
    button.register-button {
        width: 35%;
        height: 3vh;
        padding-top: 0%;
        margin-left: 33%;
    }
    section.layout-subcategories {
        width: 80%;
    }
    section.shopping-cart {
        width: 80% !important;
        margin-left: 10%;
        padding-left: 2%;
        margin-top: 10%;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 37% !important;
        margin-left: 25%;
        font-size: 12px;
    }
    button.next-form-button {
        width: 25% !important;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 47%;
    }
    h1.heading {
        width: 80%;
    }
    button.print-order-btn {
        width: 27%;
        padding-left: 3%;
    }
    form.order-layout {
        width: 90%
    }
    button.delete-order-btn {
        margin-left: 60%;
        width: 35%;
        height: 4vh;
        padding-left: 3%;
    }
    button.foto-submission-btn {
        width: 51% !important;
        padding-left: 2.5%;
    }
    form.foto-submit-form {
        width: 85%
    }
    button.foto-submit-btn {
        width: 19%;
        font-size: 12px;
        padding-left: 2%;
        margin-top: 0%;
    }
    section.admin-categories {
        width: 100%;
    }
    section.buttons-box {
        display: flex;
        flex-flow: column nowrap;
    }
    button.admin-ins-btn {
        width: 47% !important;
        padding-left: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    form#admin-ins-form-message,
    form#admin-ins-form-prod,
    form#admin-ins-form {
        width: 100%;
    }
    input.admin-category-input {
        width: 70%;
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-prod-form-title,
    form#admin-up-form1,
    form#admin-up-form {
        margin-top: 15%;
        width: 100%
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-form1 {
        margin-top: 0%;
    }
    div.notification-layout {
        width: 100%;
        font-size: 12px;
        padding-left: 3%
    }
}