@media only screen and (width:375px) and (height:667px) {
    nav {
        height: 45vh;
        width: 110%;
        margin-left: -5%;
        margin-top: -4%;
        margin-bottom: 15%;
    }
    section.shopping-cart {
        width: 70%;
        height: 100%;
    }
    #form1 {
        margin-top: 4%;
        flex-flow: column nowrap;
    }
    div.new-shopping-cart.display {
        width: 100%;
        margin: 0% auto 4% auto;
    }
    button.confirm-form-button,
    button.next-form-button,
    button.previous-form-button {
        width: 35%;
        margin-left: 25%;
    }
    button.confirm-form-button,
    button.previous-form-button {
        width: 50% !important;
    }
    form {
        width: 100%;
    }
    button#check-button.random-button {
        width: 42%;
        padding-left: 3%;
        padding-top: 2%;
    }
    button.next-button {
        width: 25%;
        height: 10%;
        padding: 2%;
    }
    h1#popup-title {
        margin-left: 30%;
    }
    section#pop {
        width: 90%;
        height: 30vh !important;
        left: 3%;
    }
    div#pop-up-buttons {
        margin-top: 2%;
        margin-left: 26%;
    }
    label#popup-text {
        font-size: 14px;
        margin-left: 1%;
    }
    button.random-button {
        width: 40%;
    }
    button.next-button {
        width: 25%;
    }
    .content {
        margin-bottom: 15%;
    }
    ul>li {
        margin-top: 0;
    }
    .list-heading {
        margin-top: 0%;
    }
    #sitename {
        margin-left: 30%;
    }
    input {
        width: 100%;
    }
    select {
        width: 70%;
    }
    label {
        padding-left: 30%;
        width: 120%;
    }
    form {
        width: 40%;
        margin-bottom: 15%;
    }
    button.register-button {
        width: 32%;
        height: 3vh;
        font-size: 14px;
        padding-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    #register-layout {
        width: 24vw !important;
        padding-left: 15%;
        margin-left: 15%;
        font-size: 12px;
        padding-top: 4% !important;
    }
    button.login-button {
        width: 21vw !important;
        height: 3.5vh !important;
        padding-top: 0.5% !important;
        margin-left: 32%;
    }
    li#logout-layout {
        width: 28vw;
        padding-top: 5% !important;
        padding-left: 30%;
        padding-right: 30%;
        margin-top: -10%;
        font-size: 13px;
    }
    nav {
        height: 70vh;
    }
    footer {
        margin-top: 5%;
    }
    #footer-copyright {
        font-size: 15px;
        padding-left: 10px;
    }
    #footer-contact-details {
        padding-right: 3%;
    }
    section#slogan-layout {
        margin-bottom: 15%;
    }
    p#admin-choice-btn {
        width: 34vw !important;
        font-size: 13px;
        padding-left: 10%;
    }
    button.print-order-btn {
        width: 30%;
        padding-left: 3%;
    }
    form.order-layout {
        width: 90%
    }
    button.delete-order-btn {
        margin-left: 60%;
        width: 38%;
        height: 4vh;
        padding-left: 3%;
    }
    button.foto-submission-btn {
        width: 55% !important;
        padding-left: 2.5%;
    }
    form.foto-submit-form {
        width: 85%
    }
    button.foto-submit-btn {
        width: 22%;
        font-size: 12px;
        padding-left: 2%;
        margin-top: 0%;
    }
    section.admin-categories {
        width: 100%;
    }
    section.buttons-box {
        display: flex;
        flex-flow: column nowrap;
    }
    button.admin-ins-btn {
        width: 52% !important;
        padding-left: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    form#admin-ins-form-message,
    form#admin-ins-form-prod,
    form#admin-ins-form {
        width: 100%;
    }
    input.admin-category-input {
        width: 70%;
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-prod-form-title,
    form#admin-up-form1,
    form#admin-up-form {
        margin-top: 15%;
        width: 100%
    }
    form#admin-up-prod-form-price,
    form#admin-up-prod-form-img,
    form#admin-up-form1 {
        margin-top: 0%;
    }
}