<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section>
            <h1 class="heading initial-heading">Κατηγορίες</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <p class="heading">PC</p>
                <a href="./pc_category.html" target="_blank">
                    <img src="../icons/pcs.jpg" width="200" height="200" alt="Υπολογιστές" />
                </a>
                <figcaption>Ηλεκτρονικοί Υπολογιστές Gaming στις καλύτερες τιμές της αγοράς!<br>
                    Τα πιο δημοφιλή και ρετρό παιχνίδια για PC!<br>Όλος ο εξοπλισμός για PC gaming!</figcaption>
            </figure>
            <figure>
                <p class="heading">XBOX&quot;s&quot;</p>
                <a href="./xbox_category.html" target="_blank">
                    <img src="../icons/xboxs.jpg" width="200" height="200" alt="Τρία Xbox με ένα χειριστήριο">
                </a>
                <figcaption>ΧΒΟΧ στις καλύτερες τιμές της αγοράς!<br>Τα πιο δημοφιλή παιχνίδια για ΧΒΟΧ!</figcaption>
            </figure>
            <figure>
                <p class="heading">Playstation 4</p>
                <a href="./ps4_category.html" target="_blank">
                    <img src="../icons/ps4.jpg" width="200" height="200" alt="Ένα playstation 4 με το χειριστήριο">
                    <figcaption>PS4 στις καλύτερες τιμές της αγοράς!<br>Τα πιο δημοφιλή παιχνίδια για PS4!</figcaption>
                </a>
            </figure>
        </section>
        <section class="main-boxes layout">
            <figure>

                <p class="heading">Playstation 3</p>
                <a href="./ps3_category.html" target="_blank">
                    <img src="../icons/ps3.jpg" width="200" height="200" alt="Ένα playstation 3 με το χειριστήριο">
                </a>
                <figcaption>PS3 στις καλύτερες τιμές της αγοράς!<br>Τα πιο δημοφιλή παιχνίδια για PS3!</figcaption>
            </figure>
            <figure>
                <p class="heading">PS VITA</p>
                <a href="./psvita_category.html" target="_blank">
                    <img src="../icons/psvita.jpg" width="300" height="200" alt="PS VITA">
                </a>
                <figcaption id="psvita-caption">PS VITA στις καλύτερες τιμές της αγοράς!<br>
                    Τα πιο δημοφιλή παιχνίδια για PS VITA!</figcaption>
            </figure>
        </section>
        <section class="main-boxes layout">
            <figure>
                <p class="heading">NINTENDO WII</p>
                <a href="./nitendo_wii_category.html" target="_blank">
                    <img src="../icons/nintendo-wii.jpg" width="200" height="200"
                        alt="Δύο nintendo wii με τα χειριστήριά τους">
                </a>
                <figcaption>NINTENDO WII στις καλύτερες τιμές της αγοράς!<br>
                    Τα πιο δημοφιλή παιχνίδια για NINTENDO WII!</figcaption>
            </figure>
            <figure>
                <p class="heading">NINTENDO DS</p>
                <a href="./nintendo_ds_category.html" target="_blank">
                    <img src="../icons/nintendos-3ds.jpg" width="220" height="200" alt="Δύο nintendo 3ds">
                </a>
                <figcaption>NINTENDO DS στις καλύτερες τιμές της αγοράς!<br>Τα πιο δημοφιλή παιχνίδια για NINTENDO DS!
                </figcaption>
            </figure>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>