<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <h1 id="sitename">Gaming</h1>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./register.html" target="_blank">Εγγραφή</a></li>
    </ul>
</nav>
<body>
    <article>
        <section id="slogan-layout">
            <p>&quot; Ψάχνεις να βρείς gaming εξοπλισμό;</p>
            <p>Εδώ θα βρεις ότι χρειάζεσαι! &quot;</p>
        </section>
        <section>
            <form method="POST" action="">
                <label for="username">Όνομα Χρήστη
                    <input type="text" id="username" name="username" placeholder="π.χ user123" required>
                </label>
                <label for="password">Συνθηματικό
                    <input type="password" id="password" name="password" placeholder="π.χ 123" required>
                </label>
                <button type="submit"><a href="./category.html" id="helping-link">login</a></button>
            </form>
        </section>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>