<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html" id="logout-layout">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section>
            <h1 class="heading initial-heading">Κατηγορία Nintendo DS</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">Nintendo 2DS XL</h1>
                <img src="../icons/nintendo_2dsxl.jpeg" width="200" height="200" alt="Nintendo 2DS XL">
                <figcaption>
                    <span>Τιμή: 100&euro;</span>
                    <br><button class="nintendo-2DS-XL"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Nintendo Switch 32GB</h1>
                <img src="../icons/nintendo_switch.jpeg" width="200" height="100" alt="Nintendo Switch 32GB">
                <figcaption>
                    <span>Τιμή: 300&euro;</span>
                    <br><button class="nintendo-switch"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Nintendo 3DS XL</h1>
                <img src="../icons/nintendo-3ds-xl.webp" width="200" height="200" alt="Nintendo Switch 32GB">
                <figcaption>
                    <span>Τιμή: 190&euro;</span>
                    <br><button class="nintendo-3DS-XL"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία Nintendo DS Games</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading"> Mario Kart 7</h1>
                <img src="../icons/mario_kart_7_3ds.jpeg" width="200" height="200" alt="Mario Kart 7">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="mario-kart"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading"> New Super Mario Bros 2</h1>
                <img src="../icons/new_super_mario_bros_2_3ds.jpeg" width="200" height="200"
                    alt="New Super Mario Bros 2">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="new-super-mario-bros"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Pokemon Ultra Sun</h1>
                <img src="../icons/pokemon_ultra_sun_3ds.jpeg" width="200" height="200" alt="Pokemon Ultra Sun">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="pokemon-ultra-sun"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <a href="tel:+302100000000000"><p class="phone-icon icon"> +302100000000000</p></a>
            <a href="mailto:gaming@eshop.com"><p class="envelope-icon icon"> gaming@eshop.com</p></a>
        </section>
    </article>
</footer>
<script src="https://use.fontawesome.com/4d997e20ff.js"></script>
</html>