<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html" id="logout-layout">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section class="buttons-box">
            <button class="next-button" onclick="nextButton()">Επόμενο</button>
            <button class="random-button" id="check-button" onclick="checkRandomProducts()">Τυχαία Επιλογή</button>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PC</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">AMD RYZEN 3</h1>
                <img src="../icons/RYZEN_3.jpeg"
                    alt="Υπολογιστής INFO PC ENTRY GAMING AMD RYZEN 3">
                <figcaption>CPU: AMD Ryzen 3 2200G 3.5GHz <br>RAM: 8GB <br> SSD: 240GB
                    <br> Κάρτα γραφικών: AMD Radeon RX 550 2GB <br> Κατασκευαστής: AMD <br>
                    <p>Τιμή: <span class="price">300</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="AMD_RYZEN_3" name="AMD_RYZEN_3" value="AMD RYZEN 3">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Msystems PC Gaming</h1>
                <img src="../icons/Msystems_PC.jpeg" alt="Υπολογιστής Msystems PC Gaming">
                <figcaption>CPU: Intel Core i5 9400F 2.9GHz <br> RAM: 16GB<br> SSD: 240GB
                    <br> Κάρτα γραφικών: nVidia GeForce GTX 1660 Ti 6GB<br> Κατασκευαστής: OEM (Υπολογιστές Desktop &
                    All-in-One (OEM))
                    <br><p>Τιμή: <span class="price">600</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="Msystems_PC_Gaming" name="Msystems_PC_Gaming" value="Msystems PC Gaming">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Vibox Vision 2 Gaming PC</h1>
                <img src="../icons/Vibox.jpeg"  alt="Υπολογιστής Vibox Vision 2 Gaming PC">
                <figcaption>CPU: AMD A-Series A4-6300 3.7GHz<br> RAM: 8GB<br> HDD: 1TB
                    <br> Κάρτα γραφικών: AMD Radeon HD 8370D<br> Κατασκευαστής: OEM (Υπολογιστές Desktop & All-in-One
                    (OEM))
                    <br><p>Τιμή: <span class="price">1200</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="Vibox_Vision_2_Gaming_PC" name="Vibox_Vision_2_Gaming_PC" value="Vibox Vision 2 Gaming PC">   
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PC Games</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">NBA 2K19</h1>
                <img src="../icons/nba_2k_2019.jpeg" alt="NBA 2K19 PC">
                <figcaption>
                    To NBA 2K19 γιορτάζει τα 20 χρόνια παρουσίας του<br> έχοντας στο εξώφυλλό του τον δικό μας, Γιάννη
                    Αντετοκούνμπο!<br><p>Τιμή: <span class="price">30</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="NBA_2K19" name="NBA_2K19" value="NBA 2K19">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">FIFA 20</h1>
                <img src="../icons/fifa_20.jpeg"  alt="FIFA 20 PC">
                <figcaption>
                    Η EA Sports επιστρέφει <br> με το νέο τίτλο της εμβληματικής<br> σειράς ποδοσφαίρου και φέρνει μαζί
                    του<br>
                    στο
                    προσκήνιο ένα πολυπαιγμένο mode<br> που θα καθηλώσει όλους τους gamers!<br>
                    <p>Τιμή: <span class="price">30</span>&euro;</p><br>
                        <legend for="quantity">Ποσότητα:
                            <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                        </legend>
                    <input type="checkbox" class="checkboxes" id="FIFA_20" name="FIFA_20" value="FIFA 20">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Spiderman: Friend or Foe</h1>
                <img src="../icons/spiderman_pc.jpg" alt="Spiderman: Friend or Foe PC">
                <figcaption>
                    Οι παίκτες συνεργάζονται με διάσημους ήρωες<br> από το σύμπαν Marvel για την καταπολέμηση των
                    κακοποιών!<br><p>Τιμή: <span class="price">10</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="Spiderman:_Friend_or_Foe" name="Spiderman: Friend or Foe" value="Spiderman:_Friend_or_Foe">  
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PC Accessoires</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">GENIUS MAXFIRE GRANDIAS USB</h1>
                <img src="../icons/genius_console_pc.jpg"
                    alt="GENIUS MAXFIRE GRANDIAS USB">
                <figcaption>
                    Απαιτήσεις συστήματος: IBM PC Pentium 233 MHz συμβατό ή νεότερο,<br>Windows7/Vista/XP, διαθέσιμη USB
                    θύρα.<br>
                    Κουμπιά: 8.<br>
                    D-Pad: Ναι.<br>
                    Εγγύηση: 1 Έτος.<br>
                    <p>Τιμή: <span class="price">10</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="GENIUS_MAXFIRE_GRANDIAS_USB" name="GENIUS_MAXFIRE_GRANDIAS_USB" value="GENIUS MAXFIRE GRANDIAS USB">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Esperanza Steering Wheel</h1>
                <img src="../icons/esperanza_steering_wheel.jpg" 
                    alt="Esperanza Steering Wheel">
                <figcaption>
                    Ξεχωριστά πεντάλ του γκαζιού και του φρένου.<br>
                    13 κουμπιά δράσης.<br>
                    Πληκτρολόγιο κατεύθυνσης.<br>
                    Ψηφιακό βαράκι ιδανικό για τις στροφές στα παιχνίδια racing.<br>
                    Δόνηση.<br>
                    Περιστροφή του τιμονιού κατά 180 μοίρες.<br>
                    <p>Τιμή: <span class="price">20</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="Esperanza_Steering_Wheel" name="Esperanza_Steering_Wheel" value="Esperanza Steering Wheel">
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">LOGITECH DRIVING FORCE SHIFTER</h1>
                <img src="../icons/logitech_driving_force_shifter.jpg" 
                    alt="LOGITECH DRIVING FORCE SHIFTER">
                <figcaption>
                    Συμβατότητα: G29 και G920 DRIVING FORCE WHEELS,<br> PlayStation 4, Xbox One, Windows 8.1, Windows 8,
                    Windows 7.<br>
                    Διαστάσεις: 206.5 x 176.4 x 146.4 mm.<br>
                    Βάρος χωρίς καλώδιο: 0.72 kg<br>
                    Βάρος με καλώδιο: 0.76 kg<br>
                    Εγγύηση: 2 χρόνια.<br>
                    <p>Τιμή: <span class="price">30</span>&euro;</p><br>
                    <legend for="quantity">Ποσότητα:
                        <input type="number" id="quantity" class="quantity-boxes" value="quantity" min="0">
                    </legend>
                    <input type="checkbox" class="checkboxes" id="LOGITECH_DRIVING_FORCE_SHIFTER" name="LOGITECH_DRIVING_FORCE_SHIFTER" value="LOGITECH DRIVING FORCE SHIFTER">
                </figcaption>
            </figure>
        </section>
        <section class="shopping-cart">
            <p class="sc-icon" id="amount">Ποσό: 0 &euro;</p>
            <div id="sc-list1"></div>
        </section>
        <section class="display" id="form1">
            <form>
                <label for="road">Oδός*
                    <input type="text" id="road" name="road" placeholder="π.χ. Σωκράτους" value="" required>
                </label>
                <label for="road number">Αριθμός Oδού*
                    <input type="number" id="road number" name="road number" placeholder="π.χ. 24" value="" required>
                </label>
                <label for="region">Περιοχή*
                    <input type="text" id="region" name="region" placeholder="π.χ. Νέα Ιωνία" value="" required>
                </label>
                <label for="postcode">Τ.Κ*
                    <input type="number" id="postcode" name="postcode" placeholder="π.χ. 55555" value="" required>
                </label>
                <label for="express">Express Παράδοση
                    <input type="checkbox" id="express" class="form-checkbox" name="express" placeholder="π.χ. 55555"
                        value="express_delivery" onclick="formCheckBox()" required>
                </label>
                <button type="button" class="next-form-button" onclick="nextFormButton()">Επόμενο</button>
                <button type="button" class="previous-form-button" onclick="previousFormButton(1)">Προηγούμενο</button>
            </form>
            <div class="new-shopping-cart display">
                <p class="sc-icon">Ποσό: 0 &euro;</p>
                <div id="sc-list"></div>
            </div>
        </section>
        <section class="display2" id="form2">
            <form>
                <label for="name" class="display3">Όνομα*
                    <input type="text" id="name" name="name" placeholder="π.χ. Γιώργος" required>
                </label>
                <label for="surname" class="display3">Επίθετο*
                    <input type="text" id="surname" name="surname" placeholder="π.χ. Παπάς" required>
                </label>
                <label for="payment">Τρόπος Πληρωμής*
                    <select id="payment" onclick="paymentChoice()" required>
                        <option value="cod">Αντικαταβολή</option>
                        <option value="credit_card">Πιστωτική Κάρτα</option>
                    </select>
                </label>
                <label for="credit_card" class="display4">Πιστωτική κάρτα*
                    <select id="credit_card" required>
                        <option value="VISA">VISA</option>
                        <option value="Mastercard">Mastercard</option>
                        <option value="Maestro">Maestro</option>
                        <option value="American Express">American Express</option>
                        <option value="Diners">Diners</option>
                    </select>
                </label>
                <label for="credit_card_num" class="display4">Αριθμός Κάρτας*
                    <input type="number" id="credit_card_num" name="credit_card_num" placeholder="π.χ. 1234567890234567"
                        required>
                </label>
                <label for="expiration" class="display4">Ημερομηνία Λήξης*
                    <input type="date" id="expiration" name="expiration" required>
                </label>
                <button type="button" class="confirm-form-button" onclick="confirmFormButton()">Επιβεβαίωση</button>
                <button type="button" class="previous-form-button" onclick="previousFormButton(2)">Προηγούμενο</button>
            </form>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright <script>document.write(new Date().getFullYear());</script></p>
        </section>
        <section id="footer-contact-details">
            <a href="tel:+302100000000000"><p class="phone-icon icon"> +302100000000000</p></a>
            <a href="mailto:gaming@eshop.com"><p class="envelope-icon icon"> gaming@eshop.com</p></a>
        </section>
    </article>
</footer>
<script src="https://use.fontawesome.com/4d997e20ff.js"></script>
<script src="../js/index.js"></script>
</html>