<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PS4</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">Sony PlayStation 4 Pro 1TB</h1>
                <img src="../icons/ps4_pro.jpeg" width="150px" height="200px" alt="Sony PlayStation 4 Pro 1TB">
                <figcaption>
                    <span>Τιμή: 380&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Sony PlayStation 4 Slim 500GB</h1>
                <img src="../icons/ps4-slim.jpeg" width="150px" height="200px" alt="Sony PlayStation 4 Slim 500GB">
                <figcaption>
                    <span>Τιμή: 280&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PS4 Games</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">eFootball PES 2020 PS4</h1>
                <img src="../icons/pes2020_ps4.jpeg" width="150px" height="200px" alt="eFootball PES 2020 PS4">
                <figcaption>
                    Κατεβείτε από τις κερκίδες και μπείτε στο γήπεδο με την επιστροφή<br>
                    της αυθεντικής σειράς ποδοσφαίρου<br> από την Konami στο PS4<br>
                    <span>Τιμή: 30&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Marvel's Spider-Man PS4</h1>
                <img src="../icons/spiderman_ps4.jpeg" width="150px" height="200px" alt="Marvel's Spider-Man PS4">
                <figcaption>
                    Μία νέα αυθεντική ιστορία του Spider-Man<br> με τον έμπειρο πλέον Πίτερ Πάρκερ<br>
                    που έχει αναγάγει σε τέχνη τη μάχη<br>κατά του οργανωμένου εγκλήματος στη Νέα Υόρκη<br>
                    <span>Τιμή: 25&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">God of War</h1>
                <img src="../icons/god_of_war_ps4.jpeg" width="150px" height="200px" alt="God of War">
                <figcaption>
                    Η περιπέτεια διαδραματίζεται αυτή την φορά<br>
                    στην παλιά Σκανδιναβία<br>με πρωταγωνιστή τον θεό του πολέμου Kratos.<br>
                    Γηραιότερος, πιο ώριμος με μυστικά,<br>
                    συγκρατημένη οργή και έχοντας πάντα δίπλα του<br> τον γιο του Atreus πλέον μακριά από την αρχαία
                    Ελλάδα.<br>
                    <span>Τιμή: 25&euro;</span><br>
                    <button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PS4 Αccessoires</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">HYPERX HX-HSCLS-BL</h1>
                <img src="../icons/hyperex_ps4.jpg" width="150px" height="200px" 
                alt="HYPERX HX-HSCLS-BL ακουστικά">
                <figcaption>
                    Οδηγοί: Δυναμικοί, 53mm με μαγνήτες νεοδημίου.<br>
                    Απόκριση συχνότητας: 15Hz25,000 Hz.<br>
                    Απόκριση συχνότητας μικροφώνου: 50Hz-18,000 Hz.<br>
                    Ευαισθησία μικροφώνου: -39dBV (0dB=1V/Pa,1kHz).<br>
                    Αντίσταση: 41 Ω.<br>
                    <span>Τιμή: 50&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>