<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PS VITA</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">Sony PlayStation Vita Wi-Fi</h1>
                <img src="../icons/sony-ps-vita-wifi.jpg" width="200" height="200" alt="Sony PlayStation Vita Wi-Fi">
                <figcaption>
                    <span>Τιμή: 220&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Sony Playstation Vita 3G/Wi-Fi</h1>
                <img src="../icons/psvita_3G_wifi.png" width="200" height="200" alt="Sony PlayStation Vita Wi-Fi">
                <figcaption>
                    <span>Τιμή: 250&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία PS VITA Games</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">Assassin's Creed III Liberation</h1>
                <img src="../icons/assasin_creed_psvita.jpg" width="200" height="200"
                    alt="Assassin's Creed III Liberation">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Need for Speed Most Wanted</h1>
                <img src="../icons/nfs_psvita.jpeg" width="200" height="200" alt="Need for Speed Most Wanted">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">LEGO Marvel's Avengers</h1>
                <img src="../icons/lego_avengers_psvita.jpeg" width="200" height="200" alt="LEGO Marvel's Avengers">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">Call of Duty: Black Ops Declassified</h1>
                <img src="../icons/call_of_duty_psvita.jpg" width="200" height="200"
                    alt="Call of Duty: Black Ops Declassified">
                <figcaption>
                    <span>Τιμή: 20&euro;</span>
                    <br><button class="transaction-button"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>

    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>