<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
</nav>
<body>
    <h1 class="heading initial-heading">Εγγραφή</h1>
    <form method="POST" action="">
        <label for="name">Όνομα*
            <input type="text" id="name" name="name" placeholder="π.χ. Γιώργος" required>
        </label>
        <label for="surname">Επίθετο*
            <input type="text" id="surname" name="surname" placeholder="π.χ. Παπάς" required>
        </label>
        <label for="address">Διεύθυνση*
            <input type="text" id="address" name="address" placeholder="π.χ. Σωκράτους 42" required>
        </label>
        <label for="region">Περιοχή*
            <input type="text" id="region" name="region" placeholder="π.χ. Νέα Ιωνία" required>
        </label>
        <label for="city">Πόλη*
            <input type="text" id="city" name="city" placeholder="π.χ. Πάτρα" required>
        </label>
        <label for="postcode">Τ.Κ*
            <input type="text" id="postcode" name="postcode" placeholder="π.χ. 55555" required>
        </label>
        <label for="phonenumber">Τηλέφωνο*
            <input type="tel" id="phonenumber" name="phonenumber" placeholder="π.χ. 690000000" required>
        </label>
        <label for="e-mail">Email*
            <input type="email" id="e-mail" name="e-mail" placeholder="π.χ.crisbrown@domain.com" required>
        </label>
      <button type="submit">login</button>
   </form>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>