<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/my_app.css">
    <title>E-Gaming</title>
</head>
<nav>
    <a href="./index.html" id="sitename">Gaming</a>
    <figure>
        <img src="../icons/logo.jpg" width="60" height="60" alt="Το logo του e-gaming shop." class="img-logo">
        <figcaption>Το μόνο eshop που απευθύνεται για gamers στην Ελλάδα!</figcaption>
    </figure>
    <ul class="list-heading">
        <li><a href="./index.html">Αποσύνδεση</a></li>
    </ul>
</nav>
<body>
    <article>
        <section>
            <h1 class="heading initial-heading">Κατηγορία XBOXs</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">XBOX ONE S</h1>
                <img src="../icons/xbox_one.jpeg" width="150px" height="200px" alt="XBOX ONE S σε άσπρο χρώμα">
                <figcaption>Οπτικός δίσκος: 4K/HDR Blu-ray drive.<br>
                    CPU: 8 Core AMD custom "Jaguar" CPU, στα 1,75GHz.<br>
                    GPU: AMD Radeon, στα 914MHz, με 1,23 TFLOPS.<br>
                    Είσοδος/Έξοδος: Super-Speed USBx (USB 3.0).<br>
                    Μονάδα σκληρού δίσκου: 1ΤB.<br>
                    Μνήμη: 8GB DDR3.<br>
                    <span>Τιμή: 250&euro;</span>
                    <br><button class="xbox-oneS"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">XBOX ONE X</h1>
                <img src="../icons/xbox_x_series.jpeg" width="150px" height="200px" alt="XBOX ONE σε μαύρο χρώμα">
                <figcaption>Χωρητικότητα: 1TB.<br>
                    Επεξεργαστής: 8-core Custom AMD CPU@ 2.3GHz.<br>
                    Κάρτα γραφικών: Scorpio Engine με 6 Teraflop.<br>
                    Εύρος ζώνης: 326 GB/s.<br>
                    Μνήμη RAM: 12GB GDDR5.<br>
                    Μνήμη Flash: 8 GB.<br>
                    <span>Τιμή: 300&euro;</span>
                    <br><button class="xbox-one"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία XBOX Games</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">FANTASTIC FOUR : RISE OF THE SILVER SURFER</h1>
                <img src="../icons/fantastic_four_xbox_game.jpg" width="150px" height="200px"
                    alt="FANTASTIC FOUR : RISE OF THE SILVER SURFER">
                <figcaption>Η πρώτη οικογένεια των υπερ ηρώων της Marvel,<br>
                    αντιμετωπίζει την υπέρτατη πρόκληση.<br> Ο Silver Surfer
                    έρχεται στη Γη για να προετοιμάσει την καταστροφή.<br>
                    Η ομάδα καλείται να αποκαλύψει το μυστήριο του Silver<br>
                    Surfer καθώς και να ανταποκριθεί στην επιστροφή του Dr. Doom,<br>
                    πριν η ανθρωπότητα χάσει κάθε ελπίδα.<br>
                    <span>Τιμή: 25&euro;</span>
                    <br><button class="fantastic-four"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">FRONTLINES: FUEL OF WAR LIMITED EDITION</h1>
                <img src="../icons/frontlines_xbox_game.jpg" width="150px" height="200px"
                    alt="FRONTLINES: FUEL OF WAR LIMITED EDITION">
                <figcaption>Στο μακρινό μέλλον όπου η οικονομία έχει καταρρεύσει,<br>
                    πάρε το ρόλο ενός στρατιώτη και αντιμετώπισε την Red Star Allience,<br>
                    η οποία ευθύνεται για την οικονομική αυτή κρίση.<br>
                    <span>Τιμή: 30&euro;</span>
                    <br><button class="frontlines"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">WATCHMEN THE END IS NIGN PART 1 & 2</h1>
                <img src="../icons/watchmen_xbox_game.jpg" width="150px" height="200px"
                    alt="WATCHMEN THE END IS NIGN PART 1 & 2">
                <figcaption>Πάρε το ρόλο του Rorschach ή του Nite Owl<br>
                    και σώσε την πόλη της Νέας Υόρκης από τον διαβολικό Underboss<br>
                    ο οποίος μόλις το έσκασε από την φυλακή!<br>
                    <span>Τιμή: 40&euro;</span>
                    <br><button class="watchmen"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
        <section>
            <h1 class="heading initial-heading">Κατηγορία XBOX Accessoires</h1>
        </section>
        <section class="main-boxes layout">
            <figure>
                <h1 class="heading">STEERING WHEEL WITH PEDALS AND VIBRATION</h1>
                <img src="../icons/steering_wheels_with_pedals_xbox.jpg" width="200px" height="150px"
                    alt="STEERING WHEEL WITH PEDALS AND VIBRATION">
                <figcaption>
                    Εργονομικός σχεδιασμός.<br>
                    Περιστρεφόμενη τιμονιέρα 180°.<br>
                    Ρεαλιστικό πεντάλ.<br>
                    Ισχυρή δόνηση.<br>
                    Βεντούζες στο κάτω μέρος της τιμονιέρας,<br>για την αποφυγή ανεπιθύμητης ολίσθησης.
                    <br><span>Τιμή: 20&euro;</span>
                    <br><button class="steering-wheel"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
            <figure>
                <h1 class="heading">EAXUS XBOX360 UNIVERSAL REMOTE CONTROL</h1>
                <img src="../icons/eaxus_xbox.jpg" width="100px" height="200px"
                    alt="EAXUS XBOX360 UNIVERSAL REMOTE CONTROL">
                <figcaption>
                    Universal τηλεχειριστήριο για την τηλεόραση,<br> το Xbox 306 και για Windows XP Media Center.
                    <br><span>Τιμή: 5&euro;</span>
                    <br><button class="eaxus"><a href="./purchase_details.html" id="helping-link">Αγορά</a></button>
                </figcaption>
            </figure>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section>
            <p id="footer-msg">Άμεση εξυπηρέτηση <br>σε 24 ώρες από την στιγμή της παραγγελίας</p>
        </section>
        <section>
            <p id="footer-copyright">&copy; Copyright 2020</p>
        </section>
        <section id="footer-contact-details">
            <p>Τηλέφωνο επικοινωνίας:</p>
            <p>+302100000000000</p>
            <p>Email Επικοινωνίας:</p>
            <p>e-gaming@eshop.com</p>
        </section>
    </article>
</footer>
</html>