figcaption {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.sc-icon::before {
    content: '\f07a';
    font-family: 'FontAwesome';
    color: aliceblue;
    padding-right: 20px;
    font-size: 30px;
}

.shopping-cart,
.new-shopping-cart {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    position: relative;
    border: solid 5px #121412;
    margin: 2% auto 2% 0%;
    background-color: #32CD32;
    color: aliceblue;
    width: 27%;
    height: 20%;
    padding: 1%;
    font-size: 12px;
}

.shopping-cart {
    display: none;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
}

.sc-icon {
    font-size: 16px;
}

.buttons-box {
    display: flex;
    flex-flow: row nowrap;
}

.checkboxes {
    width: 15px;
    margin-left: auto;
    margin-right: auto;
}

.quantity-boxes {
    width: 80px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

#slogan-layout {
    display: block;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: #32CD32;
    background-color: #121412;
    padding: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    box-shadow: 5px 10px #32CD32;
}

#sitename {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    padding-right: 20%;
    margin-bottom: auto;
    text-decoration: none;
    color: #32CD32;
}

.initial-heading {
    font-size: 30px;
    color: #32CD32;
    font-weight: bold;
    padding: 1%;
    background-color: #121412;
    border: solid 2px #121412;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px #32CD32;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #32CD32;
    border-radius: 5px;
}

.layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 2%;
    margin-right: -3%;
    width: 100%;
    color: #32CD32;
    background-color: #121412;
}

.layout-category {
    margin-top: 4%;
    margin-bottom: 7%;
}

section.layout-subcategories {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main-boxes {
    box-shadow: 5px 10px #32CD32;
}

#psvita-caption {
    text-align: center;
}

div.notification-layout {
    display: flex;
    justify-content: center;
    color: #32CD32;
    background-color: #121412;
    border: 2px solid #32CD32;
    border-radius: 13.5px;
    margin: 10% auto 20% auto;
    width: 40%;
    height: 15vh;
    padding-top: 2%;
    font-size: 15px;
}

.order-layout {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #32CD32;
    width: 70%;
    margin: 3% 0% 3% 0%;
    padding: 2%;
}

.order-details {
    margin-right: 2%;
}


/*------------------------------------------*/