.register-button {
    margin: 7% 0% 7% 40%;
    padding: 5%;
    padding-top: 1.5%;
    width: 26%;
    height: 5vh;
}

.random-button,
.next-button {
    width: 7%;
    color: aliceblue;
    background-color: #32CD32;
    display: flex;
    margin: 2.5% 0% 0.01% 2.5%;
    padding-left: 1%;
    border: 2px inset #32CD32;
}

.random-button {
    width: 10%;
}

.order-button {
    margin: 7% 0% 7% 37%;
    padding: 4%;
    padding-top: 1.5%;
    width: 29%;
    height: 5vh;
}

.confirm-form-button,
.previous-form-button,
.next-form-button {
    margin: 7% 0% 7% 37%;
    padding: 4%;
    padding-top: 1.5%;
    width: 25%;
    height: 5vh;
}

.confirm-form-button,
.previous-form-button {
    width: 34%;
    padding-left: 5%;
}

.login-button {
    margin: 7% 0% 7% 40%;
    padding: 5%;
    padding-top: 2%;
    width: 25%;
    height: 5vh;
}

button {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 25px;
    border: solid 2px #32CD32;
    background-color: #32CD32;
    color: #e8ede6;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}