.list-of-buttons {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    margin: 5% auto 5% auto;
}

a.menu-button {
    width: 20vw;
    height: 10vh;
    background-color: #32CD32;
    color: aliceblue;
    margin: 2% auto 1% auto;
    font-size: 30px;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 25px;
}

.register-button {
    margin: 7% 0% 7% 40%;
    padding: 5%;
    padding-top: 1.5%;
    width: 23%;
    height: 3vh;
}

.admin-ins-btn,
.foto-submit-btn,
.foto-submission-btn,
.random-button,
.next-button {
    width: 6%;
    color: aliceblue;
    background-color: #32CD32;
    display: flex;
    margin: 2.5% 0% 0.01% 2.5%;
    padding-left: 1%;
    border: 2px inset #32CD32;
}

.admin-ins-btn {
    width: 11%;
}

.random-button {
    width: 9%;
}

.order-button {
    margin: 7% 0% 7% 37%;
    padding: 4%;
    padding-top: 1.5%;
    width: 29%;
    height: 5vh;
}

.confirm-form-button,
.previous-form-button,
.next-form-button {
    margin: 7% 0% 7% 37%;
    padding-top: 0.5%;
    padding-left: 3%;
    width: 20%;
    height: 3vh;
}

.confirm-form-button,
.previous-form-button {
    width: 30%;
    padding-left: 5%;
}

.login-button {
    margin: 7% 0% 7% 40%;
    padding: 5%;
    padding-top: 2%;
    width: 22%;
    height: 3vh;
}

button {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 25px;
    border: solid 2px #32CD32;
    background-color: #32CD32;
    color: #e8ede6;
    font-size: 17px;
}

.delete-order-btn:hover,
.menu-button:hover,
button:hover {
    cursor: pointer;
}

.delete-order-btn:focus,
.menu-button:focus,
button:focus {
    outline: none;
}

.delete-order-btn {
    color: aliceblue;
    background-color: #fa4639;
    border: 2px outset #fa4639;
    border-radius: 13.5px;
    padding: 0.2% 0% 0% 1%;
    margin-top: 2%;
    margin-left: 80%;
    width: 15%;
    height: 3vh;
}

.delete-order-btn:hover {
    background-color: #cc3333;
    border: 2px outset #cc3333;
}

.foto-submission-btn {
    width: 12%;
}

.foto-submit-btn {
    width: 19%;
    padding-left: 2.5%;
    margin-left: auto;
    margin-right: auto;
}

.ins-admin-btn,
.upd-admin-btn,
.del-admin-btn {
    margin: 3% auto 0% auto;
}

.ins-admin-btn,
.upd-admin-btn {
    margin-bottom: 3%;
}