/*---------------The style of forms-------------------*/

form {
    border-radius: 10px;
    border: solid 5px #32CD32;
    margin: 2% auto 2% auto;
    background-color: #121412;
    color: #32CD32;
    width: 30%;
    height: 30%;
}

.form-checkbox {
    width: 20px;
    margin-left: 25%;
}

.display4,
.display3,
.display2,
.display {
    display: none;
}

input,
select {
    width: 60%;
    height: 5vh;
    border-radius: 10px;
    border: solid 2px #32CD32;
    padding-left: 2%;
}

label {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 30%;
    padding-top: 7%;
    font-size: 20px;
}

input,
select:focus {
    outline: none;
}

#helping-link {
    color: #e8ede6;
    padding-left: 9%;
}

.foto-submit-form {
    display: none;
    padding: 0% 0% 0% 0%;
    height: 20vh;
}

label#labelFoto {
    padding: 2% 0% 2% 30%;
}

input#foto {
    margin-top: 2%;
    border: none;
}

.comment-form {
    width: 70%;
    padding: 2%;
}

.grade-stars {
    margin-top: 2%;
    margin-left: 44%;
}

label.comment-text {
    padding: 0%;
    margin-top: 2%;
}

.comments-layout {
    margin-left: 25%;
    background-color: aliceblue;
    color: #121412;
    width: 50%;
    padding: 2% 0% 2% 4%;
    border: 5px aliceblue outset;
}

.comment-layout {
    border: 5px outset #121412;
    width: 90%;
    padding-left: 6%;
    margin-bottom: 2%;
}

#grade-result {
    display: none;
}

.comment-btn {
    margin-top: 3%;
    border: 2px outset #32CD32;
    width: 11%;
}

.comment-grade {
    padding-left: 5%;
}

.comment-date {
    font-size: 12px;
}

.comment-info {
    display: flex;
    flex-flow: row wrap;
}

.admin-login {
    margin-top: 8%;
    margin-bottom: 8%;
}

.admin-category-textarea,
.admin-category-input {
    height: 4vh;
    margin-left: 2%;
    margin-bottom: 0%;
    width: 50%;
}

.admin-category-textarea {
    height: 13vh;
    padding-left: 0.5%;
}

#admin-ins-form-message,
#admin-ins-form-prod,
#admin-up-prod-form-title,
#admin-up-prod-form-price,
#admin-up-prod-form-img,
#admin-ins-form,
#admin-up-form1,
#admin-up-form {
    display: none;
    width: 40%;
}

.tetxarea-message {
    width: 60%;
    height: 15vh;
}

#buttonreplacement {
    display: none;
}