/*---------navbar style--------------------------*/

.list-heading-login,
.list-heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 25%;
}

.list-heading-login {
    margin-left: 0%;
}

ul>li {
    display: flex;
    list-style-type: none;
    margin-top: 50%;
    margin-left: 5%;
    color: #32CD32;
}

.img-logo {
    margin-top: 2%;
    width: 60px;
    height: 60px;
}

figure figcaption {
    font-size: 13;
    font-weight: lighter;
    padding-top: 2%;
}

#heading {
    font-size: 30px;
    padding-left: 1%;
    padding-top: 0.5%;
    margin-right: 25%;
}

#register-layout {
    background-color: #32CD32;
    color: aliceblue;
    height: 3vh;
    width: 6vw;
    padding-left: 19%;
    padding-top: 4%;
    border-radius: 12.5px;
}

li#logout-layout {
    background-color: #32CD32;
    color: aliceblue;
    height: 3vh;
    width: 7vw;
    padding-left: 12%;
    padding-top: 5%;
    border-radius: 12.5px;
}

li#logout-layout:hover {
    cursor: pointer;
}

nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #121412;
    color: #32CD32;
    margin-top: -1%;
    margin-left: -0.6%;
    height: 16vh;
    width: 101%;
}

#register-layout:hover {
    cursor: pointer;
}


/*------------------------------------------*/