@media only screen and (width:375px) and (height:812px) {
    nav {
        height: 35vh;
        width: 112%;
        margin-left: -5%;
        margin-top: -4%;
        margin-bottom: 15%;
    }

    button.next-button {
        width: 23%;
    }
}